.panel-default > .panel-heading {
    background-color:rgb(167, 12, 12);
}

.card > .card-header {
    background-color:rgba(184, 218, 255, 0.705);
    padding: 0px;
}

.card-header > .btn {
    color: rgb(0, 123, 255);
}

