.footer {
  min-height: 100px;
  background: #2377be;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #185586;
  color: white
}